.header {
  background-color: var(--white-color);
  width: 100%;
  top: 0;
  overflow: auto;
}

.navbar {
  float: left;
  padding-top: 1.2rem;
}

.logo {
  float: right;
  cursor: pointer;
}

.logo img {
  width: 4rem;
  object-fit: cover;
}

.link li {
  display: inline-block;
  margin: 0 3rem 0 0;
}

.link a {
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.link a.active {
  color: var(--indigo);
}

.link a:hover {
  color: var(--indigo);
}

.link a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3rem;
  background-color: var(--light-dark);
  left: 0;
  bottom: -0.3rem;
  border-radius: var(--small-radius);
  transition: all 0.3s ease-in-out;
}

.link a:hover::after {
  width: 100%;
}

.link a.active::after {
  width: 100%;
}

.container table {
  margin: 3.2rem;
  border-spacing: 1.2rem;
}

.container td {
  height: 22rem;
  border-radius: var(--small-radius);
  overflow: hidden;
}

.container td img {
  object-position: left;
}

.container td div {
  height: 22rem;
  width: 100%;
}

.container .main-img {
  height: 100%;
  width: 36rem;
}
