.header {
  background-color: var(--white-color);
  width: 100%;
  top: 0;
  overflow: auto;
  z-index: 99;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar {
  float: left;
  padding-top: 1.2rem;
}

.logo {
  float: right;
  cursor: pointer;
}

.logo img {
  width: 4rem;
  object-fit: cover;
}

.link li {
  display: inline-block;
  margin: 0 3rem 0 0;
}

.link a {
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.link a.active {
  color: var(--indigo);
}

.link a:hover {
  color: var(--indigo);
}

.link a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3rem;
  background-color: var(--light-dark);
  left: 0;
  bottom: -0.3rem;
  border-radius: var(--small-radius);
  transition: all 0.3s ease-in-out;
}

.link a:hover::after {
  width: 100%;
}

.link a.active::after {
  width: 100%;
}

.container table {
  margin: 3.2rem;
  border-spacing: 1.2rem;
}

.container td {
  height: 22rem;
  border-radius: var(--small-radius);
  overflow: hidden;
}

.container td img {
  object-position: left;
}

.container td > div {
  height: 22rem;
  width: 100%;
  overflow: hidden;
}

.container .main-img {
  height: 100%;
  width: 36rem;
}

.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: all 0.3s linear;
}

.overlay:hover::after {
  background: rgba(0, 0, 0, 0.3);
}

.describe {
  z-index: 99;
  padding: 1.2rem;
  bottom: 0;
  color: var(--white-color);
}

.describe p:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 700;
}

.describe p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 500;
}
